Repository opencb/jsorolla, pull requests merged in 2022-06, with the labels that each got.

#531 TASK-590 - Add features of interest in Genome Browser
  src/genome-browser/demo/examples/features-of-interest.js
  src/genome-browser/demo/genome-browser-opencga.html
  src/genome-browser/demo/genome-browser.html
  src/genome-browser/genome-browser-styles.css
  src/genome-browser/genome-browser.js
  src/genome-browser/panels/chromosome-panel.js
  src/genome-browser/panels/karyotype-panel.js
  src/genome-browser/panels/navigation-bar.js
  src/webcomponents/variant/interpretation/variant-interpreter-browser.js
Labels: improvement, genome-browser

#561 TASK-854 - UnrecognizedPropertyException in IVA: Export (Beta) -> Export Query -> Ensembl VEP.
  src/webcomponents/commons/utils/lit-utils.js
Labels: bug, variant-browser

#545 TASK-953 - Chromosome panel must display the current chromosome name in Genome Browser
  src/genome-browser/panels/chromosome-panel.js
Labels: bug, genome-browser

#546 TASK-977 - Genome Browser only displays the proband sample if the case type is family
  src/webcomponents/variant/interpretation/variant-interpreter-browser.js
Labels: bug, genome-browser, case-interpreter

#547 TASK-940 - Sample genotypes and depth are not displayed in lollipop tooltip in Genome Browser
  src/genome-browser/genome-browser-utils.js
  src/genome-browser/renderers/variant-renderer.js
Labels: bug, genome-browser

#549 TASK-803 - Web interface - Add due-date filter to Clinical Analysis Browser and Case Portal
  src/sites/iva/conf/clinical-analysis-portal.settings.js
  src/sites/iva/conf/opencga-clinical-analysis-browser.settings.js
  src/webcomponents/clinical/clinical-analysis-browser.js
  src/webcomponents/commons/forms/date-filter.js
  src/webcomponents/commons/opencga-browser-filter.js
Labels: improvement, feature_request

#548 TASK-983 - Genome Browser in SVB displays NaN region if there are no primary findings
  src/webcomponents/visualization/genome-browser.js
Labels: bug, genome-browser, case-interpreter

#550 TASK-473 - Missing filter for source in disease panel browser
  src/sites/iva/conf/disease-panel-browser.settings.js
  src/webcomponents/commons/opencga-browser-filter.js
  src/webcomponents/disease-panel/disease-panel-browser.js
Labels: improvement, feature_request

#551 TASK-469 - SVB export variants TSV need all column names without spaces (join words with underscore)
  src/webcomponents/variant/variant-utils.js
Labels: bug, variant-browser

#554 TASK-340 - Due-date is not cleared after submitting a case
  src/webcomponents/clinical/clinical-analysis-create.js
Labels: bug, case-interpreter

#562 TASK-981 - Add signatures external links to Signal
  src/webcomponents/commons/view/signature-view.js
Labels: improvement, case-interpreter

#563 TASK-351 - Create a confirmation notification
  src/core/notification-manager.js
  src/sites/api/api-app.js
  src/sites/iva/iva-app.js
  src/webcomponents/clinical/clinical-analysis-grid.js
  src/webcomponents/commons/list-update.js
  src/webcomponents/commons/opencga-active-filters.js
  src/webcomponents/commons/utils/notification-utils.js
  src/webcomponents/sample/sample-create.js
  src/webcomponents/study/admin/study-admin-users.js
  src/webcomponents/study/annotationset/annotation-set-update.js
  src/webcomponents/study/variable/variable-set-create.js
  src/webcomponents/study/variable/variable-set-update.js
  src/webcomponents/variant/variant-browser-grid.js
Labels: improvement, UI/UX

#557 TASK-992 - Primary Findings are not updated in the features of interest dropdown of Genome Browser
  src/webcomponents/variant/interpretation/variant-interpreter-browser.js
  src/webcomponents/visualization/genome-browser.js
Labels: bug, genome-browser
